doctype html
html(lang="ru-RU" class="no-js")
    include ../parts/_head
    body
        .my-wrapper
            block header
            include ../parts/_header
            block content
            block footer.footer
            include ../parts/_footer