extends layouts/_admin

block content
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            | Добавить длинную статью
          // BASIC FORM ELELEMNTS
          .row.mt
            .col-lg-12
              .form-panel
                h4.mb
                  i.fa.fa-angle-right
                  | Длинная статья
                form#add-article.form-horizontal.style-form(method='get')
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Название
                    .col-sm-10
                      input#name.form-control(type='text' name='name')
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Категория
                    .col-sm-10
                      input#category.form-control(type='text' name='category')
                  .form-group
                    label.col-sm-2.col-sm-2.control-label URL-картинки
                    .col-sm-10
                      input#image.form-control(type='text' name='image')
                      span.help-block Добавить "адрес" картинки, чтобы не закачивать её на сервер
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Текст статьи
                    .col-sm-10
                      textarea#message(name='message', rows='10', cols='80')
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Последний этап
                    .col-sm-10
                      button#add-article-but.btn.btn-theme02 Сохранить статью
            
      
