extends layouts/_admin

block content
      
      section#main-content
        section.wrapper
          br
          button.btn.btn-theme02#add-btn(onclick='redirectToAdd();') Добавить статью
          // BASIC FORM ELELEMNTS
          .row.mt
            .col-lg-12
              .form-panel
                h4.mb
                  i.fa.fa-angle-right
                  | Список статей
                table.table
                  thead
                    tr
                      th(scope='col') id
                      th(scope='col') Заголовок
                      th(scope='col') категория
                      th(scope='col') содержание
                  tbody
                  script(src='client/admin/all_articles.js')
                    
 
