extends layouts/_default
block head
    - var pageTitle = article.name;
block header
    - currentNav = 1;
block content
    .my-slider(style='background-size: cover;')
    .my-cartochka-wrapper
        .my-cartochka-cover-big
            .my-cartochka-title 
                span(class='my-cartochka-title-text') #{article.name}                
            .my-cartochka-category
                span(class='my-cartochka-category-text') #{article.category}
            img.my-cartochka-cover-big-img(src='#{article.image}')
            .my-cartochka-cover-big-text #{article.message}
          