extends layouts/_default
block head
    - var pageTitle = 'Dev-blog';
block header
    - currentNav = 1;
block content
    .my-slider.my-contacts
        .my-visit
            .my-visit-name &ZHcy;&icy;&rcy;&ncy;&ocy;&vcy;&acy; &Mcy;&acy;&rcy;&icy;&ncy;&acy;
            .wow.zoomIn.my-visit-contimg
                            .my-visit-img
            .my-visit-description &Mcy;&acy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&acy; &Icy;&Tcy;&Mcy;&Ocy;
            .my-visit-links
                a.wow.zoomIn.my-visit-link.vk(href='https://vk.com/id135227783')
                a.wow.zoomIn.my-visit-link.skype(href='skype:limbo963?chat' data-wow-delay='0.3s')
                a.wow.zoomIn.my-visit-link.gmail(href='mailto:marjnazhjrnova@gmail.com' data-wow-delay='0.5s')
