extends layouts/_default
block head
    - var pageTitle = 'Dev-blog';
block header
    - currentNav = 1;
block content
    .my-slider(style='background-size: cover;')
    .my-cartochka-wrapper
        - for (var i=0; i<2; i++) {
           -if (i==0) {
           .wow.slideInLeft.my-cartochka-left
                      .my-cartochka-title
                        span.my-cartochka-title-text
                          !=articlesSmall[i].title
                      .my-cartochka-category
                        span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;

                      .my-cartochka-description
                        span
                           !=articlesSmall[i].description

           -} else {
                .wow.slideInRight.my-cartochka-right
                           .my-cartochka-title
                              span.my-cartochka-title-text
                                !=articlesSmall[i].title
                           .my-cartochka-category
                             span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;

                           .my-cartochka-description
                             span
                                !=articlesSmall[i].description

                -}
           -}

      .my-cartochka-wrapper
        .my-cartochka-cover
          .my-cartochka-title
            span.my-cartochka-title-text &Scy;&vcy;&iecy;&zhcy;&icy;&iecy; &icy;&scy;&tcy;&ocy;&chcy;&ncy;&icy;&kcy;&icy;, &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &kcy; &pcy;&rcy;&ocy;&chcy;&tcy;&iecy;&ncy;&icy;&yucy;

          .my-cartochka-cover-spisok
            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/first.gif')

              .my-cartochka-cover-spisok-item-text
                span &YAcy;&ncy;&kcy; &Fcy;&rcy;&acy;&ncy;&kcy; &quot;&Mcy;&ucy;&zcy;&acy; &gcy;&dcy;&iecy; &tcy;&vcy;&ocy;&icy; &kcy;&rcy;&ycy;&lcy;&softcy;&yacy;?&quot;

            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/3.gif')

              .my-cartochka-cover-spisok-item-text
                span &Tcy;.&Bcy;&softcy;&yucy;&zcy;&iecy;&ncy; &quot;&Scy;&ucy;&pcy;&iecy;&rcy;-&mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&icy;&iecy;&quot;

            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/4.gif')

              .my-cartochka-cover-spisok-item-text
                span &Bcy;. &SHcy;&iecy;&rcy; &quot;&Rcy;&acy;&bcy;&ocy;&tcy;&acy; &tcy;&vcy;&ocy;&iecy;&jcy; &mcy;&iecy;&chcy;&tcy;&ycy;&quot;

            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/5.gif')

              .my-cartochka-cover-spisok-item-text
                span &Mcy;. &Lcy;&iecy;&vcy;&icy; &quot;&Pcy;&ocy;&khcy;&icy;&tcy;&icy;&tcy;&iecy;&lcy;&softcy; &tcy;&iecy;&ncy;&iecy;&jcy;&quot;

            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/7.gif')

              .my-cartochka-cover-spisok-item-text
                span &Ecy;. &Gcy;&icy;&lcy;&bcy;&iecy;&rcy;&tcy; &quot;&IEcy;&scy;&tcy;&softcy;, &mcy;&ocy;&lcy;&icy;&tcy;&softcy;&scy;&yacy;, &lcy;&yucy;&bcy;&icy;&tcy;&softcy;&quot;

            .my-cartochka-cover-spisok-item
              img.my-cartochka-cover-spisok-item-img(src='img/6.gif')

              .my-cartochka-cover-spisok-item-text
                span &Dcy;. &Ucy;&ocy;&lcy;&lcy;&iecy;&rcy; &quot;&Mcy;&ocy;&scy;&tcy;&ycy; &ocy;&kcy;&rcy;&ucy;&gcy;&acy; &Mcy;&ecy;&dcy;&icy;&scy;&ocy;&ncy;&quot;

      .my-cartochka-wrapper
        .my-cartochka-cover-big
          .my-cartochka-title
            span.my-cartochka-title-text &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &bcy;&lcy;&ocy;&gcy;&acy; &pcy;&ocy; &shcy;&acy;&gcy;&acy;&mcy;

          .my-cartochka-category
            span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;

          img.my-cartochka-cover-big-img(src='img/1.png')

          .my-cartochka-cover-big-text
            p
                &Dcy;&acy;&ncy;&ncy;&ocy;&iecy; &pcy;&ocy;&scy;&ocy;&bcy;&icy;&iecy; &icy;&lcy;&icy; &rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &yacy; &rcy;&iecy;&shcy;&icy;&lcy; &ncy;&acy;&chcy;&acy;&tcy;&softcy; &scy; &mcy;&ocy;&tcy;&icy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &scy;&tcy;&acy;&tcy;&iecy;&jcy;, &yacy; &pcy;&ocy;&scy;&tcy;&acy;&rcy;&acy;&yucy;&scy;&softcy; &ldquo;&zcy;&acy;&rcy;&yacy;&dcy;&icy;&tcy;&softcy;&rdquo; &Vcy;&acy;&scy; &ncy;&acy; &tcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &Vcy;&ycy; &scy;&ocy;&zcy;&dcy;&acy;&lcy;&icy; &scy;&vcy;&ocy;&jcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &bcy;&lcy;&ocy;&gcy;! &Vcy;&iecy;&dcy;&softcy; &vcy; &ecy;&tcy;&ocy;&mcy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &scy;&lcy;&ocy;&zhcy;&ncy;&ocy;&gcy;&ocy; &Ncy;&IEcy;&Tcy;, &tcy;&iecy;&mcy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy; &Vcy;&acy;&scy; &pcy;&iecy;&rcy;&iecy;&dcy; &gcy;&lcy;&acy;&zcy;&acy;&mcy;&icy; &tcy;&acy;&kcy;&ocy;&iecy; &pcy;&ocy;&shcy;&acy;&gcy;&ocy;&vcy;&ocy;&iecy; &pcy;&ocy;&scy;&ocy;&bcy;&icy;&iecy;! &Acy; &scy;&vcy;&ocy;&jcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &scy;&acy;&jcy;&tcy; &ocy;&tcy;&kcy;&rcy;&ycy;&vcy;&acy;&iecy;&tcy; &mcy;&ncy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&ocy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy;, &ncy;&acy;&chcy;&icy;&ncy;&acy;&yacy; &ocy;&tcy; &scy;&acy;&mcy;&ocy;&vcy;&ycy;&rcy;&acy;&zhcy;&iecy;&ncy;&icy;&yacy; &icy; &zcy;&acy;&kcy;&acy;&ncy;&chcy;&icy;&vcy;&acy;&yacy; &zcy;&acy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ocy;&mcy;!

            p &SHcy;&acy;&gcy; 1. &Bcy;&lcy;&ocy;&gcy;&gcy;&iecy;&rcy;&ocy;&mcy; &mcy;&ocy;&zhcy;&iecy;&tcy; &scy;&tcy;&acy;&tcy;&softcy; &kcy;&acy;&zhcy;&dcy;&ycy;&jcy;!

            p
                &Mcy;&ocy;&tcy;&icy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &scy;&tcy;&acy;&tcy;&softcy;&yacy;, &vcy; &ncy;&iecy;&jcy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy;, &chcy;&tcy;&ocy; &acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&ocy; &lcy;&yucy;&bcy;&ocy;&jcy; &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy; &mcy;&ocy;&zhcy;&iecy;&tcy; &scy;&tcy;&acy;&tcy;&softcy; &bcy;&lcy;&ocy;&gcy;&gcy;&iecy;&rcy;&ocy;&mcy;! &Ncy;&iecy;&zcy;&acy;&vcy;&icy;&scy;&icy;&mcy;&ocy; &ocy;&tcy; &tcy;&ocy;&gcy;&ocy;, &chcy;&iecy;&mcy; &ocy;&ncy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&tcy;&scy;&yacy;, &kcy;&tcy;&ocy; &ocy;&ncy; &pcy;&ocy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&icy; &icy; &iecy;&scy;&tcy;&softcy; &lcy;&icy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&ncy;&ycy;&iecy; &zcy;&ncy;&acy;&ncy;&icy;&yacy; &dcy;&lcy;&yacy; &ecy;&tcy;&ocy;&gcy;&ocy;

            p &SHcy;&acy;&gcy; 2. &Kcy;&acy;&kcy; &scy;&tcy;&acy;&tcy;&softcy; &bcy;&lcy;&ocy;&gcy;&gcy;&iecy;&rcy;&ocy;&mcy; &icy; &zcy;&acy;&vcy;&iecy;&scy;&tcy;&icy; &scy;&vcy;&ocy;&jcy; &bcy;&lcy;&ocy;&gcy;?

            p &Tcy;&acy;&kcy; &ndash; &mcy;&ycy;&scy;&lcy;&icy;&shcy;&kcy;&icy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&ncy;&ycy;&iecy; &pcy;&ocy; &tcy;&iecy;&mcy;&iecy;, &scy;&ocy;&vcy;&iecy;&tcy;&ucy;&yucy; &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&icy;&tcy;&softcy;&scy;&yacy; &scy;&ocy; &scy;&tcy;&acy;&tcy;&iecy;&jcy;&kcy;&ocy;&jcy;!

            p
                &Zcy;&acy;&tcy;&iecy;&mcy; &pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ucy;&yucy;&tcy; &dcy;&vcy;&iecy; &scy;&tcy;&acy;&tcy;&softcy;&icy; &ncy;&acy; &tcy;&iecy;&mcy;&ucy; &CHcy;&tcy;&ocy; &pcy;&ocy;&tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;, &scy;&ncy;&acy;&chcy;&acy;&lcy;&acy; &rcy;&acy;&zcy;&bcy;&iecy;&rcy;&ucy; &ncy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &vcy;&iecy;&shchcy;&icy;, &acy; &zcy;&acy;&tcy;&iecy;&mcy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy;. &Ncy;&ocy; &ocy;&gcy;&rcy;&acy;&ncy;&icy;&chcy;&icy;&vcy;&acy;&tcy;&softcy;&scy;&yacy; &rcy;&acy;&mcy;&kcy;&acy;&mcy;&icy; &ncy;&iecy; &bcy;&ucy;&dcy;&ucy;, &vcy; &ncy;&icy;&khcy; &yacy; &ocy;&tcy;&rcy;&acy;&zhcy;&ucy; &pcy;&ocy;&lcy;&ncy;&ycy;&iecy; &scy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&shchcy;&icy;&iecy;, &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&iecy; &dcy;&lcy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;.

            p &SHcy;&acy;&gcy; 3. &CHcy;&tcy;&ocy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy; &dcy;&lcy;&yacy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;?

            p
                &Vcy; &dcy;&acy;&ncy;&ncy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy; &ocy; &tcy;&ocy;&mcy;, &chcy;&tcy;&ocy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;, &kcy;&acy;&scy;&acy;&iecy;&mcy;&ocy; &ncy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &vcy;&iecy;&shchcy;&iecy;&jcy;!

            p &SHcy;&acy;&gcy; 4. &CHcy;&tcy;&ocy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;. &Ocy;&tcy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy; &dcy;&ocy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;.

            p
                &Zcy;&acy;&tcy;&rcy;&ocy;&ncy;&ucy;&vcy; &ocy;&dcy;&ncy;&ucy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ucy;&yucy; &icy; &ncy;&iecy; &mcy;&acy;&lcy;&ocy;&vcy;&acy;&zhcy;&ncy;&ucy;&yucy; &vcy;&iecy;&shchcy;&softcy; &vcy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy;, &vcy; &ecy;&tcy;&ocy;&jcy; &yacy; &tscy;&iecy;&lcy;&icy;&kcy;&ocy;&mcy; &icy; &pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &pcy;&iecy;&rcy;&iecy;&shcy;&iecy;&lcy; &ncy;&iecy;&pcy;&ocy;&scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy; &kcy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy;&mcy;.

            p
                &KHcy;&ocy;&rcy;&ocy;&shcy;&iecy;&ncy;&softcy;&kcy;&ocy; &scy;&iecy;&bcy;&yacy; &mcy;&ocy;&tcy;&icy;&vcy;&icy;&rcy;&ocy;&vcy;&acy;&vcy; &icy; &ocy;&kcy;&ocy;&ncy;&chcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &rcy;&iecy;&shcy;&icy;&vcy;, &scy;&tcy;&acy;&tcy;&softcy; &bcy;&lcy;&ocy;&gcy;&gcy;&iecy;&rcy;&ocy;&mcy;, &icy; &scy;&ocy;&bcy;&rcy;&acy;&vcy; &vcy;&scy;&iocy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy;&iecy;, &ncy;&ucy;&zhcy;&ncy;&ocy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&icy;&tcy;&softcy;&scy;&yacy; &scy; &tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&ocy;&jcy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &rcy;&iecy;&scy;&ucy;&rcy;&scy;&acy; &icy; &scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&jcy; &shcy;&acy;&gcy; &bcy;&ucy;&dcy;&iecy;&tcy; &ocy;&bcy; &ecy;&tcy;&ocy;&mcy;.

            p
                &Vcy; &dcy;&acy;&ncy;&ncy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy; &yacy; &pcy;&ocy;&mcy;&ocy;&gcy;&ucy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &tcy;&iecy;&mcy;&ucy; &dcy;&lcy;&yacy; &Vcy;&acy;&shcy;&iecy;&gcy;&ocy; &ncy;&ocy;&vcy;&ocy;&gcy;&ocy; &bcy;&lcy;&ocy;&gcy;&acy;! &Rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy;, &kcy;&acy;&kcy;&icy;&iecy; &tcy;&iecy;&mcy;&ycy; &lcy;&ucy;&chcy;&shcy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &icy; &kcy;&acy;&kcy; &ecy;&tcy;&ocy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy;.

            p
                &Pcy;&ocy;&scy;&lcy;&iecy; &tcy;&ocy;&gcy;&ocy;, &kcy;&acy;&kcy; &Vcy;&ycy; &vcy;&ycy;&bcy;&rcy;&acy;&lcy;&icy; &tcy;&iecy;&mcy;&ucy;, &ncy;&iecy; &ncy;&acy;&dcy;&ocy; &ocy;&pcy;&rcy;&ocy;&mcy;&iecy;&tcy;&chcy;&icy;&vcy;&ocy; &kcy;&icy;&dcy;&acy;&tcy;&softcy;&scy;&yacy; &vcy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy; &icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &scy;&vcy;&ocy;&jcy; &ncy;&ocy;&vcy;&ycy;&jcy; &scy;&acy;&jcy;&tcy; &ncy;&acy; &vcy;&scy;&iecy;&ocy;&bcy;&shchcy;&iecy;&iecy; &ocy;&bcy;&ocy;&zcy;&rcy;&iecy;&ncy;&icy;&iecy; &ncy;&acy; &pcy;&iecy;&rcy;&vcy;&ocy;&mcy; &pcy;&ocy;&pcy;&acy;&vcy;&shcy;&iecy;&mcy;&scy;&yacy; &dcy;&vcy;&icy;&zhcy;&kcy;&iecy; &scy;&acy;&jcy;&tcy;&ocy;&vcy;. &Scy;&ncy;&acy;&chcy;&acy;&lcy;&acy; &yacy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&yucy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&icy;&tcy;&softcy; &lcy;&ocy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &vcy;&iecy;&bcy;-&scy;&iecy;&rcy;&vcy;&iecy;&rcy; &ncy;&acy; &scy;&vcy;&ocy;&jcy; &Pcy;&Kcy; (&kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy;).

            p &SHcy;&acy;&gcy; 6. &Lcy;&ocy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &vcy;&iecy;&bcy;-&scy;&iecy;&rcy;&vcy;&iecy;&rcy;.

            p
                &Vcy; &dcy;&acy;&ncy;&ncy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy; &iecy;&scy;&tcy;&softcy; &rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &pcy;&ocy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&iecy; &lcy;&ocy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &scy;&iecy;&rcy;&vcy;&iecy;&rcy;&acy;, &ncy;&acy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&mcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &bcy;&ucy;&dcy;&iecy;&tcy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&icy;&tcy;&softcy; &kcy;&ocy;&pcy;&icy;&yucy; &bcy;&lcy;&ocy;&gcy;&acy;, &icy; &pcy;&rcy;&iecy;&scy;&pcy;&ocy;&kcy;&ocy;&jcy;&ncy;&iecy;&ncy;&softcy;&kcy;&ocy; &scy; &ncy;&iecy;&jcy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy;, &ncy;&iecy; &vcy; &ucy;&shchcy;&iecy;&rcy;&bcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&mcy;&ucy; &bcy;&lcy;&ocy;&gcy;&ucy;. &YAcy; &ocy;&bcy;&ycy;&chcy;&ncy;&ocy; &tcy;&acy;&kcy; &icy; &pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;, &scy;&ncy;&acy;&chcy;&acy;&lcy;&acy; &vcy;&vcy;&ocy;&zhcy;&ucy; &ncy;&ocy;&vcy;&ocy;&vcy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &ncy;&acy; &kcy;&ocy;&pcy;&icy;&icy;, &acy; &pcy;&ocy;&tcy;&ocy;&mcy;, &iecy;&scy;&lcy;&icy; &vcy;&scy;&iocy; &pcy;&ocy;&lcy;&ucy;&chcy;&acy;&iecy;&tcy;&scy;&yacy;, &vcy;&ncy;&iecy;&dcy;&rcy;&yacy;&yucy; &vcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&jcy;.

            p &SHcy;&acy;&gcy; 7. &Pcy;&ocy;&chcy;&iecy;&mcy;&ucy; WordPress?

            p
                &Dcy;&acy;&ncy;&ncy;&ycy;&mcy; &shcy;&acy;&gcy;&ocy;&mcy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy;, &pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &yacy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&yucy; &icy; &scy;&ocy;&vcy;&iecy;&tcy;&ucy;&yucy; &icy;&mcy;&iecy;&ncy;&ncy;&ocy; &ecy;&tcy;&ocy;&tcy; &dcy;&vcy;&icy;&zhcy;&ocy;&kcy; &dcy;&lcy;&yacy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &scy;&acy;&jcy;&tcy;&acy;. &Pcy;&iecy;&rcy;&iecy;&chcy;&icy;&scy;&lcy;&yucy; &vcy;&scy;&iecy; &iecy;&gcy;&ocy; &pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy; &icy; &ncy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&tcy;&kcy;&icy; (&acy; &iecy;&scy;&tcy;&softcy; &lcy;&icy; &ocy;&ncy;&icy;?).

            p &SHcy;&acy;&gcy; 8. &Scy;&tcy;&acy;&tcy;&softcy;&yacy; &scy;&kcy;&ocy;&rcy;&ocy; &pcy;&ocy;&yacy;&vcy;&icy;&tcy;&scy;&yacy;!

            p
                &Pcy;&ocy;&scy;&lcy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy; &dcy;&vcy;&icy;&zhcy;&kcy;&acy; &ncy;&acy; &scy;&iecy;&rcy;&vcy;&iecy;&rcy; (&icy; &lcy;&ocy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &icy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;) &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&yucy; &pcy;&rcy;&ocy;&chcy;&icy;&tcy;&acy;&tcy;&softcy; &mcy;&ocy;&yucy; &scy;&tcy;&acy;&tcy;&softcy;&yucy;, &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &ocy;&tcy;&rcy;&acy;&zhcy;&iecy;&ncy;&acy; &vcy; &scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&iecy;&mcy; &shcy;&acy;&gcy;&iecy;.

            p &SHcy;&acy;&gcy; 9. &Scy; &chcy;&iecy;&gcy;&ocy; &ncy;&acy;&chcy;&acy;&tcy;&softcy; &vcy;&iecy;&scy;&tcy;&icy; &bcy;&lcy;&ocy;&gcy;?

            p
                &Vcy; &ncy;&iecy;&jcy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&yucy; &ocy; &shcy;&iecy;&scy;&tcy;&icy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy;&khcy; &icy;&lcy;&icy; &pcy;&rcy;&icy;&ncy;&tscy;&icy;&pcy;&acy;&khcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &scy;&lcy;&iecy;&dcy;&ucy;&iecy;&tcy; &ucy;&chcy;&iecy;&scy;&tcy;&softcy; &pcy;&iecy;&rcy;&iecy;&dcy; &rcy;&acy;&bcy;&ocy;&tcy;&ocy;&jcy; &scy; &bcy;&lcy;&ocy;&gcy;&ocy;&mcy;.

            p &SHcy;&acy;&gcy; 10. &Kcy;&acy;&kcy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy; &dcy;&lcy;&yacy; &bcy;&ucy;&dcy;&ucy;&shchcy;&iecy;&gcy;&ocy; &bcy;&lcy;&ocy;&gcy;&acy;?

            p
                &Vcy; &ecy;&tcy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy;, &yacy; &rcy;&acy;&zcy;&ocy;&bcy;&rcy;&acy;&lcy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&bcy;&ocy;&rcy;&acy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy;&acy; &dcy;&lcy;&yacy; &dcy;&vcy;&icy;&zhcy;&kcy;&acy; &vcy;&ocy;&rcy;&dcy;&pcy;&rcy;&iecy;&scy;&scy;. &Ecy;&tcy;&ocy; &ncy;&iecy; &mcy;&acy;&lcy;&ocy;&vcy;&acy;&zhcy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&mcy; &ncy;&iecy; &scy;&lcy;&iecy;&dcy;&ucy;&iecy;&tcy; &pcy;&rcy;&iecy;&ncy;&iecy;&bcy;&rcy;&iecy;&gcy;&acy;&tcy;&softcy;! &Kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &icy; &kcy;&rcy;&acy;&scy;&icy;&vcy;&ycy;&jcy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy; &ndash; &zcy;&acy;&lcy;&ocy;&gcy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&lcy;&ocy;&gcy;&acy;!

            p &SHcy;&acy;&gcy; 11. &Kcy;&acy;&kcy; &pcy;&ocy;&mcy;&iecy;&ncy;&yacy;&tcy;&softcy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy; &bcy;&lcy;&ocy;&gcy;&acy;?

            p &Zcy;&dcy;&iecy;&scy;&softcy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy;, &kcy;&acy;&kcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &bcy;&ycy;&scy;&tcy;&rcy;&ocy; &pcy;&ocy;&mcy;&iecy;&ncy;&yacy;&tcy;&softcy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy; &icy; &ocy;&tcy;&kcy;&ucy;&dcy;&acy; &iecy;&gcy;&ocy; &lcy;&ucy;&chcy;&shcy;&iecy; &bcy;&rcy;&acy;&tcy;&softcy;.

            p
                &Pcy;&ocy;-&tcy;&icy;&khcy;&ocy;&ncy;&softcy;&kcy;&ucy; &mcy;&ycy; &pcy;&ocy;&dcy;&ocy;&bcy;&rcy;&acy;&lcy;&icy;&scy;&softcy; &kcy; &pcy;&ucy;&ncy;&kcy;&tcy;&ucy;, &vcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&mcy; &yacy; &dcy;&iecy;&lcy;&yucy;&scy;&softcy; &mcy;&ycy;&scy;&lcy;&yacy;&mcy;&icy; &pcy;&ocy; &pcy;&rcy;&icy;&dcy;&ucy;&mcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&yacy; &dcy;&lcy;&yacy; &scy;&acy;&jcy;&tcy;&acy;.

            p &SHcy;&acy;&gcy; 12. &Pcy;&ocy;&dcy;&bcy;&ocy;&rcy; &dcy;&ocy;&mcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &icy;&mcy;&iecy;&ncy;&icy;.

            p
                &Zcy;&dcy;&iecy;&scy;&softcy; &yacy; &scy;&ocy;&vcy;&iecy;&tcy;&ucy;&yucy;, &kcy;&acy;&kcy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &khcy;&ocy;&rcy;&ocy;&shcy;&ocy;&iecy; &icy; &ldquo;&pcy;&rcy;&acy;&vcy;&icy;&lcy;&softcy;&ncy;&ocy;&iecy;&rdquo; &dcy;&ocy;&mcy;&iecy;&ncy;&ncy;&ocy;&iecy; &icy;&mcy;&yacy;. &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&vcy; &dcy;&ocy;&mcy;&iecy;&ncy;, &scy;&acy;&jcy;&tcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &vcy;&scy;&iecy;&mcy; &ldquo;&zhcy;&icy;&tcy;&iecy;&lcy;&yacy;&mcy;&rdquo; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;&acy;.

            p &SHcy;&acy;&gcy; 13. &Kcy;&acy;&kcy; &yacy; &zcy;&acy;&shchcy;&icy;&shchcy;&acy;&yucy; &bcy;&lcy;&ocy;&gcy;?

            p
                &Kcy;&acy;&kcy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy;, &rcy;&iecy;&scy;&ucy;&rcy;&scy; &ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&tcy;&scy;&yacy; &vcy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;&iecy;, &kcy; &ncy;&iecy;&mcy;&ucy; &pcy;&ocy;&yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &vcy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &scy;&ocy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ycy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy; &scy;&iecy;&tcy;&icy;, &scy;&rcy;&iecy;&dcy;&icy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy;, &mcy;&ocy;&gcy;&ucy;&tcy; &ocy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;&scy;&yacy; &icy; &ncy;&iecy;&dcy;&ocy;&bcy;&rcy;&ocy;&scy;&ocy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&iecy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&icy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &mcy;&ocy;&gcy;&ucy;&tcy; &vcy;&zcy;&lcy;&ocy;&mcy;&acy;&tcy;&softcy;/&khcy;&acy;&kcy;&ncy;&ucy;&tcy;&softcy;/&ocy;&scy;&kcy;&vcy;&iecy;&rcy;&ncy;&icy;&tcy;&softcy;/&vcy;&ycy;&rcy;&ucy;&bcy;&icy;&tcy;&softcy;/&icy;&scy;&pcy;&ocy;&rcy;&tcy;&icy;&tcy;&softcy; &bcy;&lcy;&ocy;&gcy;! &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &ocy;&scy;&ncy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &zcy;&acy;&bcy;&ocy;&tcy;&icy;&mcy;&scy;&yacy; &ocy; &iecy;&gcy;&ocy; &zcy;&acy;&shchcy;&icy;&tcy;&iecy;, &icy; &ecy;&tcy;&ocy; &pcy;&iecy;&rcy;&vcy;&ocy;-&ncy;&acy;&pcy;&iecy;&rcy;&vcy;&ocy;!

            p &SHcy;&acy;&gcy; 14. &Kcy;&acy;&kcy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&kcy;&ucy; &ncy;&acy; &ocy;&bcy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;?

            p
                &Ncy;&iecy; &ocy;&tcy;&kcy;&lcy;&acy;&dcy;&ycy;&vcy;&acy;&iecy;&mcy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&iecy; &dcy;&acy;&ncy;&ncy;&ocy;&gcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&acy; &vcy; &dcy;&ocy;&lcy;&gcy;&icy;&jcy; &yacy;&shchcy;&icy;&kcy; &icy; &ucy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&iecy;&mcy; &fcy;&ocy;&rcy;&mcy;&ucy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&kcy;&icy; &kcy;&acy;&kcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &rcy;&acy;&ncy;&softcy;&shcy;&iecy;, &chcy;&tcy;&ocy;&bcy;&ycy; &ncy;&iecy; &pcy;&ocy;&tcy;&iecy;&rcy;&yacy;&tcy;&softcy; &pcy;&ocy;&tcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;.

            p &SHcy;&acy;&gcy; 15. &Scy;&tcy;&acy;&tcy;&softcy;&yacy; &scy;&kcy;&ocy;&rcy;&ocy; &pcy;&ocy;&yacy;&vcy;&icy;&tcy;&scy;&yacy;!

            p
                &Vcy; &ecy;&tcy;&ocy;&mcy; &pcy;&ocy;&scy;&tcy;&iecy; &yacy; &khcy;&ocy;&chcy;&ucy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &ocy;&bcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&khcy; &pcy;&lcy;&acy;&gcy;&icy;&ncy;&acy;&khcy;, &dcy;&rcy;&ucy;&gcy;&icy;&mcy;&icy; &scy;&lcy;&ocy;&vcy;&acy;&mcy;&icy;, &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&icy;&yacy;&khcy;, &bcy;&iecy;&zcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy; &vcy;&iecy;&scy;&tcy;&icy; &bcy;&lcy;&ocy;&gcy; &ncy;&iecy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;. &Vcy;&iecy;&rcy;&ncy;&iecy;&iecy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;, &ncy;&ocy; &kcy;&rcy;&acy;&jcy;&ncy;&iecy; &ncy;&iecy; &zhcy;&iecy;&lcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;!

            p &SHcy;&acy;&gcy; 16. &Kcy;&acy;&kcy; &vcy;&iecy;&scy;&tcy;&icy; &bcy;&lcy;&ocy;&gcy;?

            p
                &Ncy;&acy; &dcy;&acy;&ncy;&ncy;&ocy;&mcy; &ecy;&tcy;&acy;&pcy;&iecy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy; &ocy; &tcy;&ocy;&mcy;, &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&softcy;&ncy;&ocy; &vcy;&iecy;&scy;&tcy;&icy; &scy;&vcy;&ocy;&jcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &bcy;&lcy;&ocy;&gcy;. &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &pcy;&rcy;&icy;&ncy;&tscy;&icy;&pcy;&ycy;, &ncy;&acy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &scy;&lcy;&iecy;&dcy;&ucy;&iecy;&tcy; &ucy;&dcy;&iecy;&lcy;&yacy;&tcy;&softcy; &pcy;&ocy;&vcy;&ycy;&shcy;&iecy;&ncy;&ncy;&ocy;&iecy; &vcy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy;.

            p &SHcy;&acy;&gcy; 17. &Pcy;&ocy;&dcy;&iecy;&lcy;&icy;&tcy;&softcy;&scy;&yacy; &scy; &dcy;&rcy;&ucy;&zcy;&softcy;&yacy;&mcy;&icy; &ocy;&tcy; &YAcy;&ncy;&dcy;&iecy;&kcy;&scy;&acy;.

            p
                &Ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ucy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&iecy;&mcy; &ncy;&acy; &bcy;&lcy;&ocy;&gcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ncy;&ocy;&pcy;&kcy;&icy;! &Ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;! &Tcy;&ucy;&tcy; &bcy;&iecy;&zcy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&iecy;&vcy;&mldr;

            p &SHcy;&acy;&gcy; 18. &Lcy;&ocy;&gcy;&ocy;&tcy;&icy;&pcy; &dcy;&lcy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;.

            p
                &Ecy;&tcy;&icy;&mcy; &shcy;&acy;&gcy;&ocy;&mcy; &lcy;&ucy;&chcy;&shcy;&iecy; &vcy;&scy;&iecy;&gcy;&ocy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&tcy;&softcy;&scy;&yacy; &kcy;&acy;&kcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &rcy;&acy;&ncy;&softcy;&shcy;&iecy; &pcy;&rcy;&icy; &scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&icy; &bcy;&lcy;&ocy;&gcy;&acy;. &Icy; &scy;&ocy;&zcy;&dcy;&acy;&tcy;&softcy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &pcy;&rcy;&ocy;&dcy;&vcy;&icy;&gcy;&acy;&tcy;&softcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy; &ocy;&dcy;&icy;&ncy; &lcy;&ocy;&gcy;&ocy;&tcy;&icy;&pcy;! &Tcy;&acy;&kcy;&ocy;&jcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &bcy;&ycy; &zcy;&acy;&pcy;&ocy;&mcy;&icy;&ncy;&acy;&lcy;&scy;&yacy; &icy; &khcy;&ocy;&tcy;&yacy; &bcy;&ycy; &ncy;&iecy;&mcy;&ncy;&ocy;&gcy;&ocy; &ocy;&tcy;&rcy;&acy;&zhcy;&acy;&lcy; &tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&ucy; &bcy;&lcy;&ocy;&gcy;&acy;.

            p &SHcy;&acy;&gcy; 19. &Fcy;&acy;&vcy;&icy;&kcy;&ocy;&ncy; &dcy;&lcy;&yacy; &bcy;&lcy;&ocy;&gcy;&acy;.

            p
                &Fcy;&acy;&vcy;&icy;&kcy;&ocy;&ncy;&chcy;&icy;&kcy; &ndash; &ecy;&tcy;&ocy; &tcy;&acy;&kcy;&acy;&yacy; &mcy;&acy;&lcy;&iecy;&ncy;&softcy;&kcy;&acy;&yacy; &icy;&kcy;&ocy;&ncy;&kcy;&acy;, &ocy;&tcy;&rcy;&acy;&zhcy;&acy;&iecy;&mcy;&acy;&yacy; &vcy; &bcy;&rcy;&acy;&ucy;&zcy;&iecy;&rcy;&acy;&khcy;. &Pcy;&ocy;&chcy;&tcy;&icy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &fcy;&acy;&vcy;&icy;&kcy;&ocy;&ncy;&acy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&scy;&yacy; &ucy;&mcy;&iecy;&ncy;&softcy;&shcy;&iecy;&ncy;&ncy;&ycy;&jcy; &vcy; &rcy;&acy;&zcy;&ycy; &lcy;&ocy;&gcy;&ocy;&tcy;&icy;&pcy;.

            p &SHcy;&acy;&gcy; 20. &Pcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&icy;&chcy;&ncy;&acy;&yacy; &ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy;.

            p
                &Vcy;&acy;&zhcy;&ncy;&ycy;&jcy; &ecy;&tcy;&acy;&pcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &ucy;&lcy;&ucy;&chcy;&shcy;&acy;&iecy;&tcy; &ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &bcy;&lcy;&ocy;&gcy;&ucy;, &icy; &pcy;&rcy;&icy;&dcy;&acy;&iocy;&tcy; &vcy;&ncy;&iecy;&shcy;&ncy;&iecy;&mcy;&ucy; &vcy;&icy;&dcy;&ucy; &bcy;&ocy;&lcy;&softcy;&shcy;&ucy;&yucy; &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;.

            p &SHcy;&acy;&gcy; 21. &Ncy;&acy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&iecy; &shcy;&ocy;&rcy;&ocy;&khcy;&acy; &vcy; &scy;&acy;&jcy;&dcy;&bcy;&acy;&rcy;&iecy;. &CHcy;&acy;&scy;&tcy;&softcy; 1. &Scy;&acy;&jcy;&dcy;&bcy;&acy;&rcy;.

            p
                &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ucy;&iecy;&mcy; &bcy;&ocy;&kcy;&ocy;&vcy;&ucy;&yucy; &kcy;&ocy;&lcy;&ocy;&ncy;&kcy;&ucy; &bcy;&lcy;&ocy;&gcy;&acy;, &ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yacy; &vcy; &ncy;&iecy;&jcy; &scy;&acy;&mcy;&ocy;&iecy; &lcy;&ucy;&chcy;&shcy;&iecy;&iecy;, &vcy;&acy;&zhcy;&ncy;&ocy;&iecy; &icy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy;&iecy;.

            p &SHcy;&acy;&gcy; 22. 8 &ocy;&shcy;&icy;&bcy;&ocy;&kcy;, &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&acy;&iecy;&mcy;&ycy;&khcy; &pcy;&rcy;&icy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&icy; &bcy;&lcy;&ocy;&gcy;&acy;.

            p
                &Vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&yacy;&iecy;&mcy; &shcy;&acy;&gcy;&icy;, &vcy;&iecy;&dcy;&iecy;&mcy; &bcy;&lcy;&ocy;&gcy; &icy; &ncy;&icy; &vcy; &kcy;&ocy;&iecy;&mcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy;, &ncy;&iecy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&acy;&iecy;&mcy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;, &ocy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&yucy; &vcy; &ecy;&tcy;&ocy;&jcy; &scy;&tcy;&acy;&tcy;&softcy;&iecy;. &Pcy;&rcy;&ocy;&chcy;&icy;&tcy;&acy;&vcy; &icy; &ucy;&zcy;&ncy;&acy;&vcy; &ocy; &ncy;&icy;&khcy;, &yacy; &ncy;&acy;&dcy;&iecy;&yucy;&scy;&softcy; &Vcy;&ycy; &ncy;&iecy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&icy;&tcy;&iecy; &icy;&khcy;!

            p
                &Scy;&lcy;&iecy;&dcy;&icy;&tcy;&iecy; &zcy;&acy; &ocy;&bcy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy;&mcy; &bcy;&lcy;&ocy;&gcy;&acy;, &dcy;&acy;&ncy;&ncy;&ocy;&iecy; &pcy;&ocy;&scy;&ocy;&bcy;&icy;&iecy; &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &bcy;&lcy;&ocy;&gcy;&acy; &pcy;&ocy; &shcy;&acy;&gcy;&acy;&mcy; &bcy;&ucy;&dcy;&iecy;&tcy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&yacy;&tcy;&softcy;&scy;&yacy;&mldr;

      .my-cartochka-wrapper
        .my-letter
          #leter
            form
              .left
                #postmark(style='background-image: url(img/svg/postmark.svg);')

                label(for='name')
                    &Vcy;&acy;&shcy;&iecy; &icy;&mcy;&yacy;:
                  br_
                  input#name
                br_

                label(for='email')
                    &Vcy;&acy;&shcy; e-mail:
                  br_
                  input#email
                br_

              .right
                label#textEmLab(for='textEm')
                    &Tcy;&iecy;&kcy;&scy;&tcy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&yacy;:
                  br_
                  textarea#textEm
                br_

                input(type='submit', value='Отправить')
