extends layouts/_default
block head
    - var pageTitle = 'Dev-blog';
block header
    - currentNav = 1;
block content
        .my-slider(style='background: url(img/ohjelmointi1500.jpg); background-size: cover;')
        .my-cartochka-wrapper
            .wow.slideInLeft.my-cartochka-left
                .my-cartochka-title
                  span.my-cartochka-title-text &Dcy;&icy;&zcy;&acy;&jcy;&ncy;
                             
                .my-cartochka-category
                  span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &scy;&scy;&ycy;&lcy;&kcy;&icy;
                             
                .my-cartochka-description
                  a(href='https://habrahabr.ru/post/129838/') &CHcy;&tcy;&ocy; &tcy;&acy;&kcy;&ocy;&iecy; &scy;&icy;&ncy;&iecy;&mcy;&acy;&gcy;&rcy;&acy;&fcy;?
                  br
                                   
                  a(href='http://www.artlebedev.ru/izdal/cinematografica/') &Kcy;&ncy;&icy;&gcy;&acy; &ocy; &scy;&icy;&ncy;&iecy;&mcy;&acy;&gcy;&rcy;&acy;&fcy;&icy;&kcy;&iecy; &ocy;&tcy; &scy;&tcy;&ucy;&dcy;&icy;&icy; &Acy;&rcy;&tcy;&iecy;&mcy;&icy;&yacy; &Lcy;&iecy;&bcy;&iecy;&dcy;&iecy;&vcy;&acy;
                       
              .wow.slideInRight.my-cartochka-right
                .my-cartochka-title
                  span.my-cartochka-title-text &Acy;&ncy;&icy;&mcy;&acy;&tscy;&icy;&yacy; css
                             
                .my-cartochka-category
                  span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &scy;&scy;&ycy;&lcy;&kcy;&icy;
                             
                .my-cartochka-description
                  a(href='http://slides.com/gregoradams/impressive-art-in-css') &Scy;&scy;&ycy;&lcy;&kcy;&acy; &ncy;&acy; &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yucy; &ocy; &gcy;&iecy;&ocy;&mcy;&iecy;&tcy;&rcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&jcy; &acy;&ncy;&icy;&mcy;&acy;&tscy;&icy;&icy; &ncy;&acy; CSS
                  br
                 
        .my-cartochka-wrapper
            .wow.slideInLeft.my-cartochka-left
                .my-cartochka-title
                  span.my-cartochka-title-text &Acy;&lcy;&gcy;&ocy;&rcy;&icy;&tcy;&mcy;&ycy;
                             
                .my-cartochka-category
                  span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &scy;&scy;&ycy;&lcy;&kcy;&icy;
                             
                .my-cartochka-description
                  a(href='http://yandex.ru/clck/jsredir?from=yandex.ru%3Bvideo%2Fsearch%3Bvideo%3B%3B&text=&etext=1256.Y0g2AK6yUVAHyGQNuFKQTwUvBaITyyetu8qPicITLiLfXZ5DBzqVYgX7qeTtnjWalFV5ZK6TV213Ht4In9NkvLY4EZD3cXPuulVq7Pn8Z5w.be3a79529da8c6207b3913a5eeaf108fcf407e36&uuid=&state=EIW2pfxuI9g,&data=UlNrNmk5WktYejdiZGJXMlpCZGtSUUxMcjZkSmtfLW1ndnY5amp6LWNjM3BmTnF4eG5idWpSYTlxd1VCa2pnOFhTS2hRcWZOM1FYc3Rwb1dnVG9KNm93Rm43VjgtQ05naVFEa3FGUzhEWTk2N3NsbXdndTMycFZNWHBBcWNmNmU,&sign=698486d1d3aca914303693cf1270bdb2&keyno=0&b64e=2&l10n=ru') Aлгоритм кнута-морриса-пратта
                  br
                                   
                  a(href='https://youtu.be/kPRA0W1kECg') Визуализация сортировки
                       
            .wow.slideInRight.my-cartochka-right
                .my-cartochka-title
                  span.my-cartochka-title-text &Ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy;
                             
                .my-cartochka-category
                  span.my-cartochka-category-text &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;: &scy;&scy;&ycy;&lcy;&kcy;&icy;
                             
                .my-cartochka-description
                  a(href='http://slides.com/gregoradams/impressive-art-in-css') &Ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&jcy;
