
      //
        **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        ***********************************************************************************************************************************************************
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='index.html')
          b DEV-BLOG
        // logo end
        #top_menu.nav.notify-row
          // notification start
        .top-menu
          ul.nav.pull-right.top-menu
            li
              a.logout(href='login.html') Logout
      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='profile.html')
                img.img-circle(src='assets/img/ui-sam.jpg', width='60')
            h5.centered Жирнова Марина
            li.mt
              a(href='index.html')
                i.fa.fa-dashboard
                span Короткие заметки
            li.sub-menu
              a.active(href='javascript:;')
                i.fa.fa-desktop
                span Длинные статьи
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-cogs
                span Ссылки
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-book
                span Проекты
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-tasks
                span Книги
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-th
                span Учеба
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-bar-chart-o
                span Письма автору
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start