.my-header
        h1.my-title.wow.zoomIn
          a(href='./') DEV-blog

        .my-menu
          .my-menu-toogle(onclick='toogleMenu();')

          ul
            li
              a(href='./projects') &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;

            hr.vr

            li
              a(href='./links') &Scy;&scy;&ycy;&lcy;&kcy;&icy;

            hr.vr

            li
              a(href='./contact') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
